@model E_Commerce_App.Models.Product

@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
   ViewBag.names = "name";
}

<div class="container" >



   
    <div class="row" style="margin-top:150px ; margin-bottom:30px">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Product Information</h1>
                    <img class="img-fluid mb-4" src="@Model.Image">

                    <h3>Product Name: @Model.Name</h3>
                    <p class="card-text"><strong>ID:</strong> @Model.Id</p>
                    <p class="card-text"><strong>Price:</strong> @Model.Price.ToString("C")</p>
                    <p class="card-text"><strong>Description:</strong> @Model.Description</p>
                    <p class="card-text"><strong>Expiry Date:</strong> @Model.ExpiryDate.ToShortDateString()</p>
                 
                        
                    
                    <p class="card-text"><strong>Category Name:</strong> @Model.CategoryId</p>
                   
                </div>
            </div>
        </div>
    </div>
</div>
